<%- include('../bootheader') -%>
<%- include('../menubar') -%>
    <div class="jumbotron">
        <h1>American Studies</h1>
        <p>Select your textbook</p>
    </div>

<a href="/images/amsTextbook/download.jpg"><img src="/images/amsTextbook/download.jpg" style="width: 200px"></a>




<%- include('../bootfooter') -%>
