<%- include('../bootheader') -%>
<%- include('../menubar') -%>
    <div class="jumbotron">
        <h1>Economics</h1>
        <p>Select your textbook</p>
        <a href="/englishTextBooks/generalNotesEcon" class="btn btn-primary">Non Textbook Notes</a>
    </div>





    <script>let textbook = []</script>
    <script>localStorage.setItem("textbook","Economics")</script>



<%- include("../notescore") -%>
<%- include('../bootfooter') -%>
