<%- include('../bootheader') -%>
<%- include('../menubar') -%>
    <div class="jumbotron">
        <h1>World Geography</h1>
        <p>Select your textbook</p>
    </div>





<%- include('../bootfooter') -%>
