<%- include('view/bootheader') -%>
<%- include('view/menubar') -%>
    <div class="jumbotron">
        <h1>World Geography</h1>
        <p>Select your textbook</p>
        <a href="/englishTextBooks/generalNotesGeo" class="btn btn-primary">Non Textbook Notes</a>
    </div>




<%- include("view/notescore") -%>
<%- include('view/bootfooter') -%>
