<%- include('views/bootheader') -%>
<%- include('views/menubar') -%>
    <div class="jumbotron">
        <h1>Government</h1>
        <p>Select your textbook</p>
        <a href="/englishTextBooks/generalNotesGov" class="btn btn-primary">Non Textbook Notes</a>
    </div>




    <script>let textbook = []</script>
    <script>localStorage.setItem("textbook","Government")</script>


<%- include("views/notescore") -%>
<%- include('views/bootfooter') -%>
