<%- include('../bootheader') -%>
<%- include('../menubar') -%>
    <div class="jumbotron">
        <h1>Government</h1>
        <p>Select your textbook</p>
        <a href="/englishTextBooks/generalNotesGov" class="btn btn-primary">Non Textbook Notes</a>
    </div>




<%- include("../notescore") -%>
<%- include('../bootfooter') -%>
