<%- include('../bootheader') -%>
<%- include('../menubar') -%>
    <div class="jumbotron">
        <h1>Government</h1>
        <p>Select your textbook</p>
    </div>




<%- include("../notescore") -%>
<%- include('../bootfooter') -%>
