<%- include('views/bootheader') -%>
<%- include('views/menubar') -%>
    <div class="jumbotron">
        <h1>World Civilization</h1>
        <p>Select your textbook</p>
        <a href="/englishTextBooks/generalNotesWorldCiv" class="btn btn-primary">Non Textbook Notes</a>
    </div>





    <script>let textbook = []</script>
    <script>localStorage.setItem("textbook","World Civilization")</script>



<%- include("views/notescore") -%>
<%- include('views/bootfooter') -%>
