<%- include('bootheader') -%>
<%- include('menubar') -%>


  <br>
  <br>
  <br>

  <b class="tnr" style="font-size: 50px"><center>Need a study buddy?</center></b>
  <b class="tnr" style="font-size: 50px"><center>Join the Official Discord for LegUp (US Server).</center></b>
  <h6 class="tnr"><center> (Click the icon below.) </center></h6>
  <br>

  <center><a href="https://discord.gg/gRgSceG"><img src="images/discordicon.png" style="width: 200px"></a></center>

<%- include('bootfooter') -%>
