<%- include('bootheader') -%>
<%- include('menubar') -%>


  <img src='images/discordicon.png' style='width: 5%'>
  <b style="font-size: 50px">Discord Page</b>
  <p>Select your English class</p>


<%- include('bootfooter') -%>
