<%- include('bootheader') -%>
<%- include('menubar') -%>


  <br>
  <b class="tnr">Join the Official Discord for BootLeg.</b>
  <br>
  <a href="https://discord.gg/gRgSceG"><img src="images/discordicon.png" style="width: 50px"></a>
  <h3>Directions:</h3>
  <ol>
    <li>Click the Discord icon above.</li>
    <li>Accept the invite to join the Discord server.</li>
    <li>In the server, you will be able to create a voice/text channel to talk with a study partner.</li>
  </ol>


<%- include('bootfooter') -%>
