<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Dov's About Page</h1>
    </div>

  <h5>My name is Dov Ushman I'm 17 nearly 18. I live in Northbrough Massachusetts and go to school at Worcester Academy.
  I have an older brother and two dogs. My brother attends Washington Univeristy in St. Louis and my dogs are both goldendoodles.
  In my free time I love to play frisbee, video games and play with my dogs. I also play on the varisty tennis team at my school.</h5>

<center><img class="rotate" src="images/dov.JPG" style="width: 400px""><center>



<%- include('bootfooter') -%>
