<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>English</h1>
        <p>Select your English class (any AP is placed in the more general category example: AP Biology is in Biology)</p>
    </div>

    <button type="button" class="btn btn-primary">American Literature</button>
    <button type="button" class="btn btn-primary">AP Literature</button>
    <button type="button" class="btn btn-primary">AP Language</button>



<%- include('bootfooter') -%>
