<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>English</h1>
        <p>Select your English class (any AP class is placed in the more general category. Ex: AP Biology is in Biology).</p>
    </div>

    <a href="/englishTextBooks/americanLiterature" class="btn btn-primary">American Literature</a>
    <button type="button" class="btn btn-primary">AP Literature</button>
    <button type="button" class="btn btn-primary">AP Language</button>



<%- include('bootfooter') -%>
