<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>History</h1>
        <p>Select your History class
           </p>
    </div>



<%- include('bootfooter') -%>
