<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>History</h1>
        <p>Select your History class (any AP is placed in the more general category example: AP Biology is in Biology).
           </p>
    </div>

<button type="button" class="btn btn-primary">American Studies</button>
<button type="button" class="btn btn-primary">World Civilization</button>
<button type="button" class="btn btn-primary">Economics</button>
<button type="button" class="btn btn-primary">Government</button>
<button type="button" class="btn btn-primary">World Geography</button>


<%- include('bootfooter') -%>
