<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>History</h1>
        <p>Select your History class (any AP is placed in the more general category example: AP Biology is in Biology).
           </p>
    </div>

<a href="/historyTextBooks/americanStudies" class="btn btn-primary">American Studies</a>
<a href="/historyTextBooks/worldCiv" class="btn btn-primary">World Civilization</a>
<a href="/historyTextBooks/econ" class="btn btn-primary">Economics</a>
<a href="/historyTextBooks/gov" class="btn btn-primary">Government</a>
<a href="/historyTextBooks/geo" class="btn btn-primary">World Geography</a>

<%- include('bootfooter') -%>
