<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>BootLeg Demo App</h1>
        <p>Demonstrating Node/Express features</p>
    </div>

    <div>
      <p>
        William
        <a href="/williampage">William</a>
        Jason
        Jack Freedman
        <a href="dovpage">Dov Ushman</a>
        Zone
        <a href="dovpage">Jack Andersen</a>
      </p>
    </div>
    
<%- include('bootfooter') -%>
