<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>BootLeg Demo App</h1>
        <p>Demonstrating Node/Express features</p>
    </div>

    <div>
      <p>
        William
        Jason
        Dov
        Jack Freedman
        Zone
        Other Jack
      </p>
    </div>

<%- include('bootfooter') -%>
