<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>BootLeg Demo App</h1>
        <p>Demonstrating Node/Express features</p>
    </div>

    <div>
      <p>
        William
        Jason
<<<<<<< HEAD
        Dov
        Jack Freedman
=======
        Dov Ushman
        Jack*2
>>>>>>> 5b9b3432c4ac9282f736e27f2fd679f23c38f594
        Zone
        Jack Andersen
      </p>
    </div>

<%- include('bootfooter') -%>
