<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>BootLeg Demo App</h1>
        <p>Demonstrating Node/Express features</p>
    </div>

    <div>
      <p>
        William
        Jason
        Jack Freedman
        <a href="dovpage">Dov Ushman</a>
        Zone
        Jack Andersen

      </p>
    </div>
    <a href="/williampage">William</a>

<%- include('bootfooter') -%>
 
