<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Jack's About Page</h1>
    </div>

  <p>Info about Jack</p>

<img src="images/profile.jpg" style="width: 200px">


<%- include('bootfooter') -%>
