<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Jack's About Page</h1>
    </div>

  <p>Just a normal person doing normal coding things in a normal world. I am 16 years old and live in New Jersey.</p>
  <center><img class="rotate" src="images/jacka.JPG" style="width: 400px""><center>




<%- include('bootfooter') -%>
