<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Jason's About Page</h1>
    </div>


    <b class="tnr" style="font-size: 30px"><center>Jason Rodriguez</center></b>
    <h5 class="tnr" style="font-size: 25px"><center>My name is Jason Rodriguez. I am 17 years old and live in Lawrence, Massachusetts.
    My family is from the Dominican Republic, but we also have family from all around the East coast. I love playing basketball, and tennis in my free time.
    I am a rising senior and I attend Abbott Lawrence Academy in Lawrence, MA. My goal in life is to become a professional app developer.</center></h5>

    <br><br><br>
    <center><img class="rotate" src="images/face.jpg" style="width: 400px""><center>





<%- include('bootfooter') -%>
