<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Jason's About Page</h1>
    </div>


    <b class="tnr" style="font-size: 25px"><center>Jason Rodriguez</center></b>
    <br><br><br>
    <center><img class="rotate" src="images/face.jpg" style="width: 400px""><center>





<%- include('bootfooter') -%>
