<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Jason's About Page</h1>
    </div>


    <b class="tnr" style="font-size: 30px"><center>Jason Rodriguez</center></b>
    <h4 class="tnr" style="font-size: 25px"><center>My name is Jason Rodriguez. I am 17 years old and live in Lawrence, Massachusetts.
    </center></h4>

    <br><br><br>
    <center><img class="rotate" src="images/face.jpg" style="width: 400px""><center>





<%- include('bootfooter') -%>
