<%- include('bootheader') -%>
<%- include('menubar') -%>
    <center>
    <div class="jumbotron">
        <h1 class="tnr">Language</h1>
        <p class="tnr">Select your language class (any AP is placed in the more general category example: AP Biology is in Biology)</p>
    </div>

    <a href="/languageTextBooks/spanish" class="btn btn-primary">Spanish</a>
    <a href="/languageTextBooks/french" class="btn btn-primary">French</a>
    <a href="/languageTextBooks/mandarin" class="btn btn-primary">Mandarin</a>
    <a href="/languageTextBooks/latin" class="btn btn-primary">Latin</a>
    </center>


<%- include('bootfooter') -%>
