
    <form method="post" action="/processLike">
        <input type="hidden" name="like" value="like">
        <input type="submit" name="like" value="like">
        <input type="hidden"  name="noteid" value="<%= notes._id %>">
    </form>
    <form method="post" action="/processdisLike">
        <input type="hidden"  name="noteid" value="<%= notes._id %>">
        <input type="hidden"  name="dislike" value="dislike">
        <input type="submit" name="dislike" value="dislike">
    </form>
