<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <center><h1 class="tnr">Math</h1></center>
        <center><p class="tnr">Select your Math class (any AP class is placed in the more general category. Ex: AP Biology is in Biology).</p></center>
    </div>
<center>
<a href="/mathTextBooks/algebra" class="btn btn-primary">Algebra</a>
<a href="/mathTextBooks/algebra2" class="btn btn-primary">Algebra II</a>
<a href="/mathTextBooks/calc" class="btn btn-primary">Calculus</a>
<a href="/mathTextBooks/geometry" class="btn btn-primary">Geometry</a>
<a href="/mathTextBooks/precalc" class="btn btn-primary">Precalc</a>
<a href="/mathTextBooks/stats" class="btn btn-primary">Statistics</a>
</center>

<%- include('bootfooter') -%>
