<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Math</h1>
        <p>Select your math class (any AP class is placed in the more general category. Ex: AP Biology is in Biology).</p>
    </div>

<button type="button" class="btn btn-primary">Algebra</button>
<button type="button" class="btn btn-primary">Algebra 2</button>
<button type="button" class="btn btn-primary">Geometry</button>
<button type="button" class="btn btn-primary">Precalculus</button>
<button type="button" class="btn btn-primary">Calculus</button>
<button type="button" class="btn btn-primary">Statistics</button>

<%- include('bootfooter') -%>
