<style>
  a.a {
    font-family: "Courier New", Courier, monospace;
    font-size: 16pt;
  }

</style>


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ff5757;">
  <a class="navbar-brand" href="/"><img src="/images/Newlogo.png" width="250" height="150" ></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <b><a class="a nav-link" href="/">Home <span class="sr-only">(current)</span></a></b>
      </li>
      <li class="nav-item">
        <b><a class="a nav-link" href="/notesmain">Notes</a></b>
      </li>


      <li class="nav-item dropdown">
        <b><a class="a nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Subjects
        </a></b>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="a dropdown-item" href="/Math">Math</a>
          <a class="a dropdown-item" href="/English">English</a>
          <a class="a dropdown-item" href="/History">History</a>
          <a class="a dropdown-item" href="/Science">Science</a>
          <a class="a dropdown-item" href="/Language">Language</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <b><a class="a nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profiles
        </a></b>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="a dropdown-item" href="/profiles">Show Profiles</a>
          <div class="dropdown-divider"></div>
          <a class="a dropdown-item" href="/profile">My Profile</a>
          <a class="a dropdown-item" href="/editProfile">Update Profile</a>
        </div>
      </li>

      <li class="nav-item">
        <b><a class="a nav-link" href="/discord">Discord</a></b>
      </li>

      <li class="nav-item dropdown">
        <b><a class="a nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a></b>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="a dropdown-item" href="/william">William</a>
          <a class="a dropdown-item" href="/jackA">Jack A.</a>
          <a class="a dropdown-item" href="/jackF">Jack F.</a>
          <a class="a dropdown-item" href="/jason">Jason</a>
          <a class="a dropdown-item" href="/dov">Dov</a>
          <a class="a dropdown-item" href="/zone">Zone</a>
        </div>
      </li>

      <% if (loggedIn) { %>
      <li class="nav-item">
        <b><a class="a nav-link active" href="/logout"> Logout</a></b>
      </li>
      <% } else { %>
        <li class="nav-item">
          <b><a class="a nav-link active" href="/auth/google"> Login</a></b>
        </li>
        <% }  %>



    </ul>

    <form class="form-inline my-2 my-lg-0" method="post" action="/findBook">
      <input name = "item" class="form-control mr-sm-2" type="search" placeholder="Search your textbook!" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</nav>
