<%- include('bootheader') -%>
    <br><br><br><br><br><br>
    <div class="row">
      <div class="col-sm tnr" style="font-size: 20px">
        <center><b>View Notes</b></center>
        <br>
        <center><a class="dropdown-item" href="/showNotes"><img src="images/eye.png" style="height: 200px; width: 200px; object-fit: contain"></a></center>
      </div>
      <div class="col-sm tnr" style="font-size: 20px">
        <center><b>Create Notes</b></center>
        <br>
        <center><a class="dropdown-item" href="/noteform"><img src="images/write.png" style="height: 200px; width: 200px; object-fit: contain"></a></center>
      </div>





<%- include('bootfooter') -%>
