<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="media">

      <div class="media-body">
        <br>
        <br>
        <b class="tnr" style="font-size: 50px"><center>Notes.</center></b>
        <h5 class="tnr"><center>Welcome to Notes! Here, you can get notes created by other students or make your own!</center</h5>
      </div>
    </div>

    <br><br><br><br><br><br>
    <div class="row">
      <div class="col-sm tnr" style="font-size: 20px">
        <center><b>View Notes</b></center>
        <br>
        <center><a class="dropdown-item" href="/showNotes"><img src="images/eye.png" style="height: 200px; width: 200px; object-fit: contain"></a></center>
      </div>
      <div class="col-sm tnr" style="font-size: 20px">
        <center><b>Create Notes</b></center>
        <br>
        <center><a class="dropdown-item" href="/noteform"><img src="images/write.png" style="height: 200px; width: 200px; object-fit: contain"></a></center>
      </div>





<%- include('bootfooter') -%>
