<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Global Webpage Note Form</h1>
        <p>add notes to any page on the web ...</p>
    </div>

    <form method="post" action="/processnote">
        header: <input type="text" id="header" name="header" value="Your Title"> <br>
        text: <textarea id="text" name="text" value="What are your notes?"></textarea><br>
        textbook: <input type="text" id="textbook" name="textbook" value="Your Textbook">
      <input type="submit">
    </form>


<%- include('bootfooter') -%>
