
    <div class="jumbotron">
        <h1>Make a Note! </h1>
        <p>Add a note to your desired book</p>
    </div>


    <form method="post" action="/processnote">
        Note Title: <input type="text" id="header" name="header" value="Your Title"> <br>
        <br><br>Your Note: <br><textarea id="text" name="text" value="What are your notes?"></textarea>
        <br><br><br>Textbook: <input type="text"  id="textbook" name="textbook" value="<%= book.title %>">
        <br><br>Pages: <input type="number" id="page1" name="page1" value=1> -
        <input type="number" id="page2" name="page2" value=1>
        <input type="hidden"  name="bookid" value="<%= book._id %>">
        <input type="submit">

    </form>
