<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="media">

      <div class="media-body">
        <h1>Notes</h1>
        <h2 class="mb-0">Welcome to notes, here you can get notes created by other students</h2>
      </div>

    </div>

    <br><br><br><br><br><br><br>
    <div class="row">
      <div class="col-sm">
        View Notes
        <a class="dropdown-item" href="/showNotes"><img src="images/NoteCards.png" style="height: 100%; width: 100%; object-fit: contain"></a>
      </div>
      <div class="col-sm">
        Make a Note
        <a class="dropdown-item" href="/noteform"><img src="images/PenandPaper.png" style="height: 100%; width: 100%; object-fit: contain"></a>
      </div>





<%- include('bootfooter') -%>
