<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Global Webpage Note Form</h1>
        <p>add notes to any page on the web ...</p>
    </div>

    <form method="post" action="/processnote">
      header: <input type="text" id="title" name="header" value="Your Title"> <br>
      text: <input id="" name="text" value="What are your notes?"> <br>
      textbook: <textarea type="text" id="Textbook" name="textbook" value="Your Textbook"></textarea>

      <input type="submit">
    </form>


<%- include('bootfooter') -%>
