<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="media">

      <div class="media-body">
        <br>
        <br>
        <b class="tnr" style="font-size: 50px"><center>Notes.</center></b>
        <h2 class="tnr"><center>Welcome to Notes! Here, you can get notes created by other students or make your own!</center</h2>
      </div>

    </div>

    <br><br><br><br><br><br><br>
    <div class="row">
      <div class="col-sm">
        View Notes
        <a class="dropdown-item" href="/showNotes"><img src="images/NoteCards.png" style="height: 100%; width: 100%; object-fit: contain"></a>
      </div>
      <div class="col-sm">
        Make a Note
        <a class="dropdown-item" href="/noteform"><img src="images/PenandPaper.png" style="height: 100%; width: 100%; object-fit: contain"></a>
      </div>





<%- include('bootfooter') -%>
