<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="media">

      <div class="media-body">
        <h1>Here is our slogan.</h1>
        <h2 class="mb-0">Do you have a problem in taking notes in class? Do you want to see the good students' notes and get good scores? Try BootLeg! You can always find what you want here.</h2>
      </div>

    </div>

    <br><br><br><br><br><br><br>
