<%- include('bootheader') -%>
<%- include('menubar') -%>

<style>
  h1.a {
    font-family: Georgia, serif;
  }
  h3.a {
    font-family: "Times New Roman", Times, serif;
  }
  div.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

</style>

<div class='container'>

  <form method="post" action="findISBN">
    word: <input type="text"  name="item"><br>
    <input type="submit">
    </form>
  </div>







<%- include('bootfooter') -%>
