<%- include('bootheader') -%>
<%- include('menubar') -%>
    <center>
    <div class="jumbotron">
        <h1 class="tnr">Science</h1>
        <p class="tnr">Select your Science class (any AP class is placed in the more general category. Ex: AP Biology is in Biology).</p>
    </div>


    <a href="/scienceTextBooks/bio" class="btn btn-primary">Biology</a>
    <a href="/scienceTextBooks/chem" class="btn btn-primary">Chemistry</a>
    <a href="/scienceTextBooks/physics" class="btn btn-primary">Physics</a>
    <a href="/scienceTextBooks/cs" class="btn btn-primary">Computer Science</a>
    <a href="/scienceTextBooks/environmentalScience" class="btn btn-primary">Environmental Science</a>
    </center>

<%- include('bootfooter') -%>
