<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Science</h1>
        <p>Select your Science class (any AP class is placed in the more general category. Ex: AP Biology is in Biology).</p>
    </div>

<button type="button" class="btn btn-primary">Biology</button>
<button type="button" class="btn btn-primary">Chemistry</button>
<button type="button" class="btn btn-primary">Physics</button>
<button type="button" class="btn btn-primary">Computer Science</button>
<button type="button" class="btn btn-primary">Environmental Science</button>

<%- include('bootfooter') -%>
