<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>William's About Page</h1>
    </div>

    <center>

    <p class="tnr" style="font-size: 25px">Hello! My name is William Lee, and I am currently a rising junior attending Busan Foreign School
    in Busan, South Korea. I have lived in many different places growing up, such as Tokyo, Tianjin, and Busan.
    I enjoy playing basketball and want to major in CS in college.

    <br>
    <br>

    <img src="images/wlee.jpg"

    </center>
    </p>




<%- include('bootfooter') -%>
