<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Zone's About Page</h1>
    </div>

  <p>Info about Zone</p>

    <img class="rotate" src="/images/zone.jpg" style="width: 400px">
      <p class="card-text">Zone is a Grade 11 student from Nanjing, China. He is responsible for organizing the GitHub account and fixing bugs.</p>
    </div>
  </div>


<%- include('bootfooter') -%>
