<%- include('views/bootheader') -%>
<%- include('views/menubar') -%>
    <div class="jumbotron">
        <h1>Chemistry</h1>
        <p>Select your textbook</p>
        <a href="/englishTextBooks/generalNotesChem" class="btn btn-primary">Non Textbook Notes</a>
    </div>

<a href="/images/amsTextbook/download.jpg"><img src="/images/amsTextbook/download.jpg" style="width: 200px"></a>


    <script>let textbook = []</script>
    <script>localStorage.setItem("textbook","Chemistry")</script>

<%- include("views/notescore") -%>
<%- include('views/bootfooter') -%>
