<%- include('../bootheader') -%>
<%- include('../menubar') -%>
    <div class="jumbotron">
        <h1>Computer Science</h1>
        <p>Select your textbook</p>
    </div>

<a href="/images/amsTextbook/download.jpg"><img src="/images/amsTextbook/download.jpg" style="width: 200px"></a>


    <script>let textbook = []</script>
    <script>localStorage.setItem("textbook","Environmental Science")</script>

<%- include("../notescore") -%>
<%- include('../bootfooter') -%>
