<%- include('../bootheader') -%>
<%- include('../menubar') -%>
    <center>
    <div class="jumbotron">
        <h1 class="tnr">American Literature</h1>
        <p class="tnr">Select your book.</p>
    </div>
    </center>

    <a href="/images/english/crucible.jpg"><img src="/images/english/crucible.jpg" style="width: 200px"></a>
    <a href="/images/english/huckFinn.jpg"><img src="/images/english/huckFinn.jpg" style="width: 200px"></a>
    <a href="/images/english/gatsby.jpeg"><img src="/images/english/gatsby.jpeg" style="width: 200px"></a>




    <script>let textbook = []</script>
    <script>localStorage.setItem("textbook","American Literature")</script>


<%- include("../notescore") -%>
<%- include('../bootfooter') -%>
