<%- include('../bootheader') -%>
<%- include('../menubar') -%>
    <div class="jumbotron">
        <h1>AP Literature</h1>
        <p>Select your book.</p>
    </div>






    <script>let textbook = []</script>
    <script>localStorage.setItem("textbook","AP Literature")</script>

<%- include("../notescore") -%>
<%- include('../bootfooter') -%>
