<%- include('../bootheader') -%>
<%- include('../menubar') -%>
    <center>
    <div class="jumbotron">
        <h1 class="tnr">AP Literature</h1>
        <p class="tnr">Select your book.</p>
    </div>
    </center>

<%- include("../notescore") -%>
<%- include('../bootfooter') -%>
