<%- include('../bootheader') -%>
<%- include('../menubar') -%>
    <div class="jumbotron">
        <h1>AP Literature</h1>
        <p>Select your textbook.</p>
    </div>



<%- include('../bootfooter') -%>
