<%- include('views/bootheader') -%>
<%- include('views/menubar') -%>
    <div class="jumbotron">
        <h1>AP Literature</h1>
        <p>Select your book.</p>
    </div>


<%- include("views/notescore") -%>
<%- include('views/bootfooter') -%>
