<%- include('../bootheader') -%>
<%- include('../menubar') -%>
    <center>
    <div class="jumbotron">
        <h1 class="tnr">Algebra</h1>
        <p class="tnr">Select your Algebra textbook.</p>
        <a href="/englishTextBooks/generalAlgebra" class="btn btn-primary">Non Textbook Notes</a>
    </div>

    <script>let textbook = []</script>
    <script>localStorage.setItem("textbook","Algebra")</script>

    </center>


    <a href="/images/math/algebraTextbook/algebra1.jpg"><img src="/images/math/algebraTextbook/algebra1.jpg" style="width: 200px"></a>





<%- include("../notescore") -%>
<%- include('../bootfooter') -%>
