<%- include('../bootheader') -%>
<%- include('../menubar') -%>
    <div class="jumbotron">
        <h1>Algebra</h1>
        <p>Select your Algebra textbook.</p>
        <a href="/englishTextBooks/generalNotesAlgebra" class="btn btn-primary">Non Textbook Notes</a>
    </div>

    <a href="/images/math/algebraTextbook/algebra1.jpg"><img src="/images/math/algebraTextbook/algebra1.jpg" style="width: 200px"></a>






<%- include('../bootfooter') -%>
