<%- include('../bootheader') -%>
<%- include('../menubar') -%>
    <div class="jumbotron">
        <h1>Algebra II</h1>
        <p>Select your Algebra II textbook.</p>
    </div>


    <a href="/images/math/algebra2Textbook/algebra2-1.jpg"><img src="/images/math/algebra2Textbook/algebra2-1.jpg" style="width: 200px"></a>
  



<%- include('../bootfooter') -%>
