<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Algebra II</h1>
        <p>Select your Algebra II textbook</p>
    </div>


<%- include('bootfooter') -%>
