<%- include('../bootheader') -%>
<%- include('../menubar') -%>
    <center>
    <div class="jumbotron">
        <h1 class="tnr">Algebra II</h1>
        <p class="tnr">Select your Algebra II textbook.</p>
        <a href="/englishTextBooks/generalNotesAlgebra2" class="btn btn-primary">Non Textbook Notes</a>
    </div>

    <script>let textbook = []</script>
    <script>localStorage.setItem("textbook","Algebra2")</script>

    </center>
    <a href="/images/math/algebra2Textbook/algebra2-1.jpg"><img src="/images/math/algebra2Textbook/algebra2-1.jpg" style="width: 200px"></a>



<%- include("../notescore") -%>
<%- include('../bootfooter') -%>
