<%- include('../bootheader') -%>
<%- include('../menubar') -%>
    <center>
    <div class="jumbotron">
        <h1 class="tnr">Calculus</h1>
        <p class="tnr">Select your Calculus textbook.</p>
        <a href="/englishTextBooks/generalNotesCalc" class="btn btn-primary">Non Textbook Notes</a>
    </div>
    <center>

    <script>let textbook = []</script>
    <script>localStorage.setItem("textbook","Calculus")</script>




<%- include("../notescore") -%>
<%- include('../bootfooter') -%>
