<%- include('../bootheader') -%>
<%- include('../menubar') -%>
    <div class="jumbotron">
        <h1>Calculus</h1>
        <p>Select your Calculus textbook.</p>
        <a href="/englishTextBooks/generalNotesCalc" class="btn btn-primary">Non Textbook Notes</a>
    </div>

    <script>let textbook = []</script>
    <script>localStorage.setItem("textbook","Calculus")</script>




<%- include("../notescore") -%>
<%- include('../bootfooter') -%>
