<%- include('../bootheader') -%>
<%- include('../menubar') -%>
    <div class="jumbotron">
        <h1>General Algebra Notes</h1>

    </div>


    <script>let textbook = []</script>
    <script>localStorage.setItem("textbook","generalAlgebra")</script>



<%- include("views/notescore") -%>
<%- include('views/bootfooter') -%>
