<%- include('views/bootheader') -%>
<%- include('views/menubar') -%>
    <center>
    <div class="jumbotron">
        <h1 class="tnr">Geometry</h1>
        <p class="tnr">Select your Geometry textbook.</p>
        <a href="/englishTextBooks/generalNotesGeometry" class="btn btn-primary">Non Textbook Notes</a>
    </div>
    <center>
<a href="/images/math/geometryTextbook/geometry1.jpg"><img src="/images/math/geometryTextbook/geometry1.jpg" style="width: 200px"></a>

<script>let textbook = []</script>
<script>localStorage.setItem("textbook","Geometry")</script>


<%- include("views/notescore") -%>
<%- include('views/bootfooter') -%>
