<%- include('../bootheader') -%>
<%- include('../menubar') -%>
    <div class="jumbotron">
        <h1>PreCalculus</h1>
        <p>Select your PreCalculus textbook.</p>
    </div>

<a href="/images/math/precalcTextBook/precalc1.jpg"><img src="/images/math/precalcTextbook/precalc1.jpg" style="width: 200px"></a>




<%- include('../bootfooter') -%>
