<%- include('views/bootheader') -%>
<%- include('views/menubar') -%>
    <center>
    <div class="jumbotron">
        <h1 class="tnr">Statistics</h1>
        <p class="tnr">Select your Statistics textbook.</p>
        <a href="/englishTextBooks/generalNotesAlgebra" class="btn btn-primary">Non Textbook Notes</a>
    </div>
    </center>

    <script>let textbook = []</script>
    <script>localStorage.setItem("textbook","Stats")</script>




<%- include("views/notescore") -%>
<%- include('views/bootfooter') -%>
