<%- include('../bootheader') -%>
<%- include('../menubar') -%>
    <div class="jumbotron">
        <h1>Statistics</h1>
        <p>Select your Statistics textbook.</p>
    </div>






<%- include('../bootfooter') -%>
