<%- include('views/bootheader') -%>
<%- include('views/menubar') -%>
    <div class="jumbotron">
        <h1>French</h1>
        <p>Select your French textbook.</p>
        <a href="/englishTextBooks/generalNotesFrench" class="btn btn-primary">Non Textbook Notes</a>
    </div>

<a href="/images/language/frenchTextBook/french1.jpg"><img src="/images/language/frenchTextBook/french1.jpg" style="width: 200px"></a>
<a href="/images/language/frenchTextBook/french2.jpg"><img src="/images/language/frenchTextBook/french2.jpg" style="width: 200px"></a>
<a href="/images/language/frenchTextBook/french2tb.jpg"><img src="/images/language/frenchTextBook/french2tb.jpg" style="width: 200px"></a>
<a href="/images/language/frenchTextBook/french3tb.jpg"><img src="/images/language/frenchTextBook/french3tb.jpg" style="width: 200px"></a>



<%- include("views/notescore") -%>
<%- include('views/bootfooter') -%>
