<%- include('../bootheader') -%>
<%- include('../menubar') -%>
    <div class="jumbotron">
        <h1>Latin</h1>
        <p>Select your Latin textbook.</p>
    </div>






<%- include('../bootfooter') -%>
