<%- include('../bootheader') -%>
<%- include('../menubar') -%>
    <div class="jumbotron">
        <h1>Latin</h1>
        <p>Select your Latin textbook.</p>
        <a href="/englishTextBooks/generalNotesLatin" class="btn btn-primary">Non Textbook Notes</a>
    </div>

<a href="/images/language/latinTextBook/latin1.jpg"><img src="/images/language/latinTextBook/latin1.jpg" style="width: 200px"></a>
<a href="/images/language/latinTextBook/latintb.jpg"><img src="/images/language/latinTextBook/latintb.jpg" style="width: 200px"></a>
<a href="/images/language/latinTextBook/latintb2.jpg"><img src="/images/language/latinTextBook/latintb2.jpg" style="width: 200px"></a>



<%- include("../notescore") -%>
<%- include('../bootfooter') -%>
