<%- include('../bootheader') -%>
<%- include('../menubar') -%>
    <div class="jumbotron">
        <h1>Mandarin</h1>
        <p>Select your Mandarin textbook.</p>
        <a href="/englishTextBooks/generalNotesMandarin" class="btn btn-primary">Non Textbook Notes</a>
    </div>

<a href="/images/language/mandarinTextBook/mand1.jpg"><img src="/images/language/mandarinTextBook/mand1.jpg" style="width: 200px"></a>
<a href="/images/language/mandarinTextBook/mandtb.png"><img src="/images/language/mandarinTextBook/mandtb.png" style="width: 200px"></a>

    <script>let textbook = []</script>
    <script>localStorage.setItem("textbook","Mandarin")</script>

<%- include("../notescore") -%>
<%- include('../bootfooter') -%>
