<%- include('../bootheader') -%>
<%- include('../menubar') -%>
    <div class="jumbotron">
        <h1>Spanish</h1>
        <p>Select your Spanish textbook.</p>
    </div>

<a href="/images/language/spanishTextBook/spanish1textbook.jpg"><img src="/images/language/spanishTextBook/spanish1textbook.jpg" style="width: 215px"></a>
<a href="/images/language/spanishTextBook/spanish1tb.jpg"><img src="/images/language/spanishTextBook/spanish1tb.jpg" style="width: 200px"></a>
<a href="/images/language/spanishTextBook/spanish2textbook.jpg"><img src="/images/language/spanishTextBook/spanish2textbook.jpg" style="width: 200px"></a>
<a href="/images/language/spanishTextBook/spanish2tb.jpg"><img src="/images/language/spanishTextBook/spanish2tb.jpg" style="width: 200px"></a>
<a href="/images/language/spanishTextBook/spanish3textbook.jpg"><img src="/images/language/spanishTextBook/spanish3textbook.jpg" style="width: 200px"></a>




<%- include('../bootfooter') -%>
